<!doctype html>
<html lang="en">
  <head>
  	<title>Michelle_Johnson_Cards_Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
     <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/favicon.png"> 


    <!-- This is where you put your google font in if applicable -->
<!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->

<!-- This is the link to the toggle hamburger -->
	 <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
      <link  rel="stylesheet"  href="../css/prism.css"/>
  </head>
  <body>
    
<div class="d-flex">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="toggle-btn">
              <span class="sr-only">Toggle Menu</span>
                    <div id="nav-icon1" >
                <span></span>
                <span></span>
                <span></span>
              </div>
               </button>
          </div>
		<div class="p-4 pt-6">
		 <a href="../index.html" class="logo"><img src="../img/logo_mrj.png" alt="MRJ Logo" class="logoimg"></a>


	       <ul class="list-unstyled components">
	     
	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
	            
			            <ul class="collapse list-unstyled" id="homeSubmenu">
		                <li>
		                    <a href="../foundation/type.html">Typography</a>
		                </li>
		                <li>
		                    <a href="../foundation/color.html">Color</a>
		                </li>
		                <li>
		                    <a href="../foundation/logo.html">Logo</a>
		                </li>
			            </ul>
	          </li>
	          
	          <li>
              <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
              <ul class="collapse.show list-unstyled" id="ComponentsSubmenu">
               <li>
                    <a href="component1.html">Navigation Bar</a>
                </li>
                <li>
                    <a href="component2.html">Buttons</a>
                </li>
                <li>
                    <a href="#">Cards</a>
                </li>
              </ul>
	          </li>

	          <li>
              <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
              <ul class="collapse list-unstyled" id="PatternsSubmenu">
                 <li>
                    <a href="../patterns/pattern1.html">Homepage Patterns</a>
                </li>
                <li>
                    <a href="../patterns/pattern2.html">Recent Work Patterns</a>
                </li>
               
              </ul>
	          </li>
	         
	         
	        </ul> 

	      


	      </div>
    	</nav>


        <!-- Page Content  -->
      <div class = "container">
          <div class = "row p-5 pt-6">
            <div id="content">

              <h1>Cards</h1>
               <div class="navbarInfo">
                        <div class="row align-items center">
                            <div class="col-lg-8">
                                <h4>For Large and Small Screens</h4>
                                <p>This is the design for cards as they would appear on both large and small screens.</p>
                            </div>

                            <div class="col">
                                <img src="../img/card.png" alt="mauve-card-text-teal-button">
                            </div>
                        </div>

                        <br>

    

                        <div class="p-1">
                            <h4>Usage and Best Practices</h4>
                            <p>Cards are primarily used to summarize and preview work. They can be used in conjunction with an image, or can be used alone.
                            </p>
                        </div>

                        <div class="accessibility">
                            <h4>Accessibility Considerations</h4>
                            <p>Cards should be displayed with text large enough to be read on a variety of screens. Card color and layout should be consistent to be easily identifiable. Card borders should be invisible.</p>
                        </div>
                        </div>

                        <div class="code">
                            <h4 id="type2">Code Example</h4>
                            <pre class="language-markup">
<code class="language-markup">

       &lt;div class=&quot;col&quot;&gt;
    &lt;div class=&quot;card h-100&quot;&gt;

      &lt;div class=&quot;card-body&quot;&gt;
        &lt;h5 class=&quot;card-title&quot;&gt;Work Title&lt;/h5&gt;
        &lt;p class=&quot;card-text&quot;&gt;Lorem i-sum
      &lt;/p&gt;

      &lt;/div&gt;
      &lt;div class=&quot;card-footer card-footer-mj&quot;&gt;
        &lt;a href=“#.html&quot; class=&quot;btn btn-primary button”&gt;View&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

</code>
</pre>   
                

            </div>
        </div>      <!-- Content  -->
      </div><!-- Row  -->
    </div><!-- Container -->
        
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>